[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainer = {ref = "v5.0.0b4", git = "https://github.com/chainer/chainer"}
gym = "*"
chainerrl = "*"
pygobject = "*"
pycairo = "*"
nose = "*"
matplotlib = "*"
opencv-python = "*"
pandas = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "*"

[requires]
python_version = "3.7"

[scripts]
test = "nosetests tests"
random = "python random_drawing.py"
debug = "python train_simple.py 1 --rollout_n 3 --eval_interval 6 --max_episode_steps 3 --steps 36 --save_final_obs_update_interval 1 --logger_level 10"
train = "python train_simple.py 2"
log = "python utils/plot_scores.py"
