[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainer = {ref = "v5.0.0b4",git = "https://github.com/chainer/chainer"}
gym = "*"
chainerrl = "*"
pygobject = "*"
pycairo = "*"
nose = "*"
matplotlib = "*"
opencv-python = "*"
pandas = "*"
rdp = "*"
pyyaml = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "*"
yapf = "*"
autoflake = "*"
isort = "*"

[requires]
python_version = "3.6"

[scripts]
isort = "isort -rc ."
autoflake = "autoflake . -r --in-place --remove-all-unused-imports --remove-unused-variables"
yapf = "yapf -ir . --style='{column_limit: 100}'"
test = "nosetests tests"
